*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #151515;
    color: #fff;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family:  "Exo 2", sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}
