@media (max-width: 1300px) {
    .container{
        width: 90%;
    }

    nav .container .part1{
        width: 20%;
    }
    nav .container .part2 ul{
        display: none;
    }
    nav .navButton{
        display: flex;
    }

    header .content h4{
        font-size: 25px;
    }
    header .content h1{
        font-size: 40px;
    }
    header .content p{
        font-size: 15px;
    }

    section{
        padding: 40px 0;
    }

    #About .container .part{
    flex-basis: 100%;
    }
    #About .container .part1{
        margin-bottom: 55px;
    }
    #About .container .part1 .frame{
        width: 280px;
        
    }
    #About .container .part2 .info .col{
        flex-basis: 100%;
    }
    #About .container .part2 .buttons button{
        padding: 10px 15px;
    }

    .title{
        margin-bottom: 26px;
    }
    .title h2{
        font-size: 30px;
    }
    .title .lines::before,
    .title .lines span,
    .title .lines::after{
        width: 70px;
    }
    .title .lines span{
        width: 140px;
    }

    #Services .container .row .card{
    flex-basis: 95%;
    margin: auto;
    }
    #Services .container .row .card .item{
        margin-bottom: 26px;
    }

    #Portfolio .container .row .card{
        flex-basis: 95%;
        margin: auto;
    }

    #Blog .container .row .card{
        flex-basis: 96%;
        margin: auto;
    }
    #Blog .container .row .card .item{
        margin-block: 15px;
    }

    #Contact .container form .row{
        width: 90%;
    }
    #Contact .container form .row .card:nth-of-type(1),
    #Contact .container form .row .card:nth-of-type(2){
        flex-basis: 100% ;
    }
    #Contact .container form .row .card:nth-of-type(1) .item{
        margin-right: 0px;
    }
    #Contact .container form .row button{
        width: 100%;
    }

    footer p{
        font-size: 12px;
    }
}

@media (min-width: 371px) and (max-width: 1300px) {
    nav .container .part1{
        width: 15%;
    }
    nav .container .part2 ul{
        display: none;
    }
    nav .navButton{
        display: flex;
    }

    header .content h4{
        font-size: 30px;
    }
    header .content h1{
        font-size: 60px;
    }
    header .content p{
        font-size: 18px;
    }

    #About .container .part2 .buttons button{
        padding: 15px 20px;
    }

    #Services .container .row .card{
    flex-basis: 80%;
    }

    #Portfolio .container .row .card{
        flex-basis: 85%;
    }

    #Blog .container .row .card{
        flex-basis: 85%;
    }

    #Contact .container form .row{
        width: 80%;
    }

    footer p{
        font-size: 14px;
    }
}

@media (min-width: 577px) and (max-width: 1300px) {
    nav .container .part1{
        width: 12%;
    }
    nav .container .part2 ul{
        display: none;
    }
    nav .navButton{
        display: flex;
    }

    header .content h4{
        font-size: 35px;
    }
    header .content h1{
        font-size: 70px;
    }
    header .content p{
        font-size: 20px;
    }

    #About .container .part2 .info .col{
        flex-basis: 50%;
    }

    .title h2{
        font-size: 40px;
    }
    .title .lines::before,
    .title .lines span,
    .title .lines::after{
        width: 85px;
    }
    .title .lines span{
        width: 160px;
    }

    #Services .container .row .card{
    flex-basis: 50%;
    }
    #Services .container .row .card .item{
        margin-inline: 7px;
        margin-bottom: 20px;
    }

    #Portfolio .container .row .card{
        flex-basis: 50%;
    }

    #Blog .container .row .card{
        flex-basis: 50%;
    }

    #Contact .container form .row{
        width: 60%;
    }

    footer p{
        font-size: 15px;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
    nav .container .part1{
        width: 10%;
    }
    nav .container .part2 ul{
        display: none;
    }
    nav .navButton{
        display: flex;
    }

    #About .container .part2{
        flex-basis: 93%;
        margin: auto;
    }

    #Services .container .row .card .item{
        margin-inline: 40px;
        margin-bottom: 25px;
    }

    #Portfolio .container .row .card .item{
        margin-inline: 40px;
    }

    #Blog .container .row .card .item{
        margin-inline: 40px;
    }

    #Contact .container form .row{
        width: 70%;
    }
    #Contact .container form .row .card:nth-of-type(1),
    #Contact .container form .row .card:nth-of-type(2){
        flex-basis: 50% ;
    }
    #Contact .container form .row .card:nth-of-type(1) .item{
        margin-right: 10px;
    }

    footer p{
        font-size: 16px;
    }
}

@media (min-width: 993px) and (max-width: 1300px) {
    nav .container .part1{
        width: 8%;
    }
    nav .container .part2 ul{
        display: none;
    }
    nav .navButton{
        display: flex;
    }

    section{
        padding-top: 50px ;
    }

    #About .container .part{
        flex-basis: 50%;
    }
    #About .container .part1{
        margin-bottom: 0px;
    }
    #About .container .part2 .info .col{
        flex-basis: 50%;
    }

    #Services .container .row .card{
    flex-basis: 25%;
    }
    #Services .container .row .card .item{
        margin: 10px;
    }

    #Portfolio .container .row .card{
        flex-basis: calc(100%/3);
    }
    #Portfolio .container .row .card .item{
        margin-inline: 17px;
    }

    #Blog .container .row .card{
        flex-basis: calc(100%/3);
    }
    #Blog .container .row .card .item{
        margin-inline: 17px;
    }
}

@media (min-width: 1181px) and (max-width: 1300px) {
    nav .container .part1{
        width: 5%;
    }
    nav .container .part2 ul{
        display: flex;
    }
    nav .navButton{
        display: none;
    }

    #Contact .container form .row{
        width: 60%;
    }
    #Contact .container form .row button{
        width: initial;
    }

    #Blog .container .row .card .item{
        margin: 0 20px;
    }
}