@media (max-width: 1300px) {
    .container{
        width: 90%;
    }

    nav .container .part1{
        width: 20%;
    }
    nav .container .part2 ul{
        display: none;
    }
    nav .navButton{
        display: flex;
    }

    header .content h4{
        font-size: 25px;
    }
    header .content h1{
        font-size: 40px;
    }
    header .content p{
        font-size: 15px;
    }
}

@media (min-width: 371px) and (max-width: 1300px) {
    nav .container .part1{
        width: 15%;
    }
    nav .container .part2 ul{
        display: none;
    }
    nav .navButton{
        display: flex;
    }

    header .content h4{
        font-size: 30px;
    }
    header .content h1{
        font-size: 60px;
    }
    header .content p{
        font-size: 18px;
    }
}

@media (min-width: 577px) and (max-width: 1300px) {
    nav .container .part1{
        width: 12%;
    }
    nav .container .part2 ul{
        display: none;
    }
    nav .navButton{
        display: flex;
    }

    header .content h4{
        font-size: 35px;
    }
    header .content h1{
        font-size: 70px;
    }
    header .content p{
        font-size: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
    nav .container .part1{
        width: 10%;
    }
    nav .container .part2 ul{
        display: none;
    }
    nav .navButton{
        display: flex;
    }
}

@media (min-width: 993px) and (max-width: 1300px) {
    nav .container .part1{
        width: 8%;
    }
    nav .container .part2 ul{
        display: none;
    }
    nav .navButton{
        display: flex;
    }
}

@media (min-width: 1181px) and (max-width: 1300px) {
    nav .container .part2 ul{
        display: none;
    }
    nav .navButton{
        display: flex;
    }
}